.checkout{
    display: flex;
    justify-content: center;
    gap: 5rem;

    padding: 5rem;
}


.checkout__billing{
    flex-basis: 50%;

}

.checkout__billing,
.checkout__billing--form,
.checkout__order{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.checkout__billing--form fieldset{
    display: flex;
    gap: 1rem;
}


.checkout__billing--form fieldset input{
    flex-grow: 1;
}

.checkout__billing--form__account,
.checkout__billing--form__shipment{
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.checkout__billing--form__account input,
.checkout__billing--form__shipment input,
.checkout__billing--form__coupon div input{
    flex-grow: 0 !important;
}

.checkout__billing--form__coupon{
    flex-direction: column;
}

.checkout__billing--form__coupon div{
    display: flex;
    gap: 1rem;
}

.checkout__billing--form__coupon div input:first-child{
    background-color: #333;
    color: white;
}


.checkout__order{
    flex-basis: 30%;

    row-gap: 3rem;
}

.checkout__order--details{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    border: 1px solid rgb(224 224 224 / 0.4);
    border-radius: 1rem;
}

.checkout__order--details > div{
    padding: 1.5rem;
    border-bottom: 1px solid rgb(224 224 224 / 0.4);
}

.checkout__order--details__name,
.checkout__order--details__product{
    display: flex;
    justify-content: space-between;
}

.checkout__order--details__name,
.checkout__order--payment__title{
    background-color: rgb(224 224 224 / 0.4,);
    padding: 1.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}












