.checkout{
    display: flex;
    justify-content: center;
    gap: 5rem;

    padding: 5rem;
}


.checkout__billing{
    flex-basis: 50%;

}

.checkout__billing,
.checkout__billing--form,
.checkout__order
