*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;

}

a,
input[type="submit"]{
    text-decoration: none;
    color: #333;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

li{
   list-style: none;
   font-size: 1.3rem;
    
}

input,
textarea,
fieldset,
select{
    border: none;
    background: none;
    outline: none;

    border-radius: 0.5rem;
    font-size: 1.5rem;
}

input,
textarea,
select{
    border: 1px hsla(0, 0%, 40%, 0.4) solid;
    padding: 1rem 2rem;
}

