
.hearder{
    display: flex;
    gap: 2rem;

    padding: 4rem;
    height: 4rem;

    position: relative;
}

.hearder__img ing{
  object-position: center 15%;
}

.header__content{
    align-self: center;

    display: flex;
    flex-direction: column;
    gap: 2rem;

}